.center
  %br/
  = image_tag 'logo.png', class: 'responsive-img', width: 120
  %p Think different.

.containers
  .row
    - @posts.each do |post|
      .col.s12.m3
        = render "parts/card", post: post
  .center
    = paginate @posts
