%header
  %nav.nav-wrapper.teal.accent-4
    = link_to @title, :root, class: 'brand-logo center'
    .container
      %ul.right.hide-on-med-and-down
        - if user_signed_in?
          %li= link_to '記事を書く', new_post_path
          %li= link_to 'ログアウト', destroy_user_session_path, method: :delete

