@import "materialize";

.font_size_10 {
  font-size: 10px; }

.font_size_12 {
  font-size: 12px; }

.font_size_14 {
  font-size: 14px; }

.font_size_16 {
  font-size: 16px; }

.font_size_18 {
  font-size: 18px; }

.font_size_20 {
  font-size: 20px; }

.font_size_22 {
  font-size: 22px; }

.font_size_24 {
  font-size: 24px; }

.font_size_26 {
  font-size: 26px; }

.font_size_28 {
  font-size: 28px; }

.font_size_30 {
  font-size: 30px; }

.font_size_32 {
  font-size: 32px; }

.font_size_34 {
  font-size: 34px; }

.font_size_36 {
  font-size: 36px; }

.font_size_38 {
  font-size: 38px; }

.font_size_40 {
  font-size: 40px; }

.font_size_42 {
  font-size: 42px; }

.font_size_44 {
  font-size: 44px; }

.font_size_46 {
  font-size: 46px; }

.font_size_48 {
  font-size: 48px; }

.font_size_50 {
  font-size: 50px; }

.font_size_52 {
  font-size: 52px; }

.font_size_54 {
  font-size: 54px; }

.font_size_56 {
  font-size: 56px; }

.font_size_58 {
  font-size: 58px; }

.font_size_60 {
  font-size: 60px; }

.font_size_62 {
  font-size: 62px; }

.font_size_64 {
  font-size: 64px; }

.font_size_66 {
  font-size: 66px; }

.font_size_68 {
  font-size: 68px; }

.font_size_70 {
  font-size: 70px; }

.thin {
  font-weight: 100; }

.bold{
		font-weight: bold;
}

.vi-text{
		color: #666;
}
